:root{
  --white: #FFFFFB;
  --dark-grey: #2c2c2c;
  --red: #E74545;
  --nav-width: 200px;
  --title-height: 50px;
}

.App {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'EBGaramond';
  src: url('fonts/adobe-garamond-bold/EBGaramond-Bold.ttf');
}

.App-header {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--dark-grey);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  text-align:justify;

  font-family: 'EBGaramond';
  src: url('fonts/adobe-garamond-bold/EBGaramond-Bold.ttf');
  font-size: large;

  min-width: 300px;
  max-width: 750px;
  margin: auto;
}

b {
  text-decoration: underline;
}

.title-text {
  text-align: left;
  color:  var(--red);

  font-family: 'EBGaramond';
  src: url('fonts/adobe-garamond-bold/EBGaramond-ExtraBold.ttf');
  font-size: 75px;
}

.subtitle-text {
  text-align: left;
  color:  var(--red);

  font-family: 'EBGaramond';
  src: url('fonts/adobe-garamond-bold/EBGaramond-ExtraBold.ttf');
  font-size: xx-large;
}

.subsubtitle-text {
  text-align: left;
  color:  var(--red);

  font-family: 'EBGaramond';
  src: url('fonts/adobe-garamond-bold/EBGaramond-ExtraBold.ttf');
  font-size: x-large;
}

.card-hover{
  display: inline;
}

.card-image-span{
  display: none;
}

.card-name{
  color: var(--red);
}

.card-name a{
  color: var(--red);
  text-decoration: none;
}

.card-name:hover ~ .card-image-span{
  display: block;
  position: absolute;
  z-index: 2;
}

.card-image{
  width: 250px;
}