:root{
    --board-width: 300px;
    --card-image-width: 300px;
}

.decklist{
    display: flex;
    flex-direction: row;
    line-height: 10px;
}

.boards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainboard{
    width: var(--board-width);
}

.sideboard{
    width: var(--board-width);
}

.card-image{
    margin: 5px;
    width: var(--card-image-width);
    overflow: hidden;
}

.card-name{
    white-space: initial;
    word-wrap: break-word;
}

@media (max-width: 900px){
    .card-image{
        width: 0; 

    }
}